= simple_fields_for :service do |s|

  - if current_user.is_admin? || current_user.is_agent?

    .calc.tender
      %h3.title.hidden Тендерный
      .field-horizontal.top-offset
        .field.short.offset-right
          -#%label Доход МФО по тарифу
          -#= s.number_field :mfo_summa_tarif, disabled: true
        .field.short
          %label Доход МФО по тарифу
          = s.input_field :dogovor_summa_tarif, disabled: true
      .field-horizontal.top-offset
        .field.short
          %label Сумма займа
          = s.number_field :order_summa, value: f.object.summa || "0"
        .field.small
          %label Ставка %
          = s.number_field :order_rate, value: f.object.base_rate || "0"
        .field.short
          %label Доход договора по ставке
          = s.number_field :dogovor_summa, value: f.object.dogovor_summa || "0"

      .field-horizontal.tarif
        %span.title.mfo_rate Ставка МФО:
        %span.value.mfo_rate
        %span.title.agent_rate Ставка агента:
        %span.value.agent_rate 0%

      .field-horizontal
        .field.short.offset-right
          %label Доход МФО по ставке
          = s.input_field :mfo_summa, value: f.object.mfo_summa || "0", disabled: true
        .field.short
          %label Доход Агента по ставке
          = s.number_field :agent_summa, value: f.object.agent_summa || "0"

      .field-horizontal.victory.hidden
        .field.short.offset-right
          %label Доход МФО при победе
          = s.input_field :mfo_victory_summa, value: f.object.mfo_summa || "0", disabled: true
        .field.short
          %label Доход Агента при победе
          = s.input_field :agent_victory_summa, value: f.object.agent_summa || "0", disabled: true

  - elsif current_user.is_client?

    .calc.business
      %h3.title.hidden Пользовательский
      .field-horizontal
        .field
          %label Сумма займа
          = s.number_field :order_summa, value: f.object.summa || "0"
        .field.small
          %label Стоимость
          = s.input_field :dogovor_summa, value: f.object.dogovor_summa || "0", disabled: true
      -#.field-horizontal
      -#  .field.short
      -#    %label Доход агента
      -#    = s.input_field :p_agent_summa, disabled: true, value: params[:service] && params[:service][:p_agent_summa] ? params[:service][:p_agent_summa] : "0"
      -#  .field.small
      -#    %label Ставка %
      -#    = s.input_field :p_order_rate, value: params[:service] && params[:service][:p_order_rate] ? params[:service][:p_order_rate] : "0"
      -#  .field.short
      -#    %label Доход МФО
      -#    = s.input_field :p_mfo_summa, disabled: true, value: params[:service] && params[:service][:p_mfo_summa] ? params[:service][:p_mfo_summa] : "0"