%ul.nav.nav-tabs.guarantor-tabs{id:"guarantor-legals-tabs",data:{type:'legal'}}
  - if params[:order] && params[:order][:guarantor_legals_attributes]
    - params[:order][:guarantor_legals_attributes].each.with_index do |gl, index|
      - @destroy = params[:action] == "new" ? true : gl.last[:_destroy].to_b
      %li{class:"tab#{' active' if params[:service][:active_guarantor_legal].to_i == index}#{' hidden' if @destroy}"}
        %span.tab-closer &times;
        %a{href:"#guarantor_legals_#{gl.first}", data:{toggle:"tab"}} Поручитель ЮЛ #{index + 1}
  - else
    %li.tab.active.hidden
      %span.tab-closer &times;
      %a{href:"#guarantor_legals_0", data:{toggle:"tab"}} Поручитель ЮЛ 1
  %li.add-tab
    %a.glyphicon.glyphicon-plus{title:"Добавить поручителя ЮЛ"}

.tab-content{id:"guarantor-legals-content"}
  - @order.guarantor_legals.each.with_index do |gl, index|
    = f.simple_fields_for :guarantor_legals, gl do |glf|
      - @destroy = (params[:action] == "new" || params[:action] == "edit") ? true : params[:order][:guarantor_legals_attributes][index.to_s][:_destroy].to_b
      %div{id:"guarantor_legals_#{index}", class:"tab-pane#{' active' if params[:service] && params[:service][:active_guarantor_legal].to_i == index}#{' hidden' if @destroy  }"}
        = glf.hidden_field :_destroy, value: @destroy
        = glf.hidden_field :type_o, value: "ЮЛ"
        .field-group
          %h5.title Основные данные
          .field-horizontal
            .field.inn
              %label ИНН
              = glf.input_field :inn, value:"4325235234"
              = glf.error :inn
            .field.kpp
              %label КПП
              = glf.input_field :kpp, value:"4227752865"
              = glf.error :kpp
          .field.long
            %label Название организации
            = glf.input_field :name
            = glf.error :name
          .field.long
            %label Полное название организации
            = glf.input_field :fullname
            = glf.error :fullname

          .field-horizontal
            .field
              %label Дата регистрации
              = glf.date_field :reg_date, value:"1999-07-21"
              = glf.error :reg_date
            .field
              %label ОГРН
              = glf.input_field :ogrn, value:"542353245"
              = glf.error :ogrn
          .field
            %label Должность руководителя
            = glf.input_field :head_position, value:"Генеральный деректор"
            = glf.error :head_position

          .sub-group
            %h5.title Юридический адрес
            = glf.fields_for :address_legal do |al|
              = render partial: 'shared/address', locals: {a:al}

          .sub-group
            %h5.title Фактический адрес
            = glf.fields_for :address_actual do |aa|
              = render partial: 'shared/address', locals: {a:aa}



        .field-group.borrower-founders
          = render partial:'shared/guarantor_founders', locals: {gl:gl,b:glf}


        .field-group
          %h5.title Основной банковский счет

          = glf.fields_for :bank_account do |glba|
            .field-horizontal
              .field
                %label Номер счета
                = glba.input_field :account_number
                = glba.error :account_number

              = glba.fields_for :bank do |glbab|
                .field
                  %label Бик
                  = glbab.input_field :bik, value:"23452352452452"
                  = glbab.error :bik
                .field-horizontal
                  .field
                    %label Коррсчет
                    = glbab.input_field :korr_number, value:"23452352452452"
                    = glbab.error :korr_number
                  .field
                    %label ИНН
                    = glbab.input_field :inn, value:"23452352452452"
                    = glbab.error :inn
                  .field
                    %label Наименование банка
                    = glbab.input_field :name, value:"Банк-гора"
                    = glbab.error :name
                  .field
                    %label Город
                    = glbab.input_field :city, value:"г. Рубище"
                    = glbab.error :city
                  .field.long
                    %label Адрес
                    = glbab.input_field :address
                    = glbab.error :address

        .field-group
          %h5.title Персональные данные представителя поручителя

          = glf.fields_for :person do |glp|
            .field-horizontal
              .field
                %label ФИО
                = glp.input_field :fullname
                = glp.error :fullname
              .field
                %label Дата рождения
                = glp.date_field :birthday
                = glp.error :birthday

            .field-horizontal
              .field
                %label Место рождения
                = glp.input_field :birth_place
                = glp.error :birth_place
              .field
                %label Гражданство
                = glp.input_field :citizenship, value:"РФ"
                = glp.error :citizenship

            .field-horizontal
              .field
                %label Телефон
                = glp.input_field :phone, value:"8 903 456 22 11"
                = glp.error :phone
              .field
                %label E-mail
                = glp.input_field :email, value:"fgart@mail.ru"
                = glp.error :email

            .sub-group
              %h5.title Место регистрации
              = glp.fields_for :reg_place do |rp|
                = render partial: 'shared/address', locals: {a:rp}

            .sub-group
              %h5.title Место пребывания
              = glp.fields_for :curr_place do |cp|
                = render partial: 'shared/address', locals: {a:cp}


            .sub-group
              %h5.title Паспортные данные

              .field
                %label Серия и номер паспорта
                = glp.input_field :pass_serial_number
                = glp.error :pass_serial_number

              .field.long
                %label Кем выдан
                = glp.input_field :pass_issued
                = glp.error :pass_issued
              .field-horizontal
                .field
                  %label Код подразделения
                  = glp.input_field :pass_issued_code
                  = glp.error :_pass_issued_code

                .field
                  %label Дата выдачи
                  = glp.date_field :pass_issue_date
                  = glp.error :pass_issue_date

            .sub-group
              %h5.title Данные о ранее выданных паспортах

              .field
                %label Серия и номер паспорта
                = glp.input_field :old_pass_serial_number, value:"23534 43253"
                = glp.error :old_pass_serial_number

              .field.long
                %label Кем выдан
                = glp.input_field :old_pass_issued, value:"Дудинским ОВД"
                = glp.error :old_pass_issued
              .field-horizontal
                .field
                  %label Код подразделения
                  = glp.input_field :old_pass_issued_code, value:"ф-2345"
                  = glp.error :old_pass_issued_code

                .field
                  %label Дата выдачи
                  = glp.date_field :old_pass_issue_date, value:"2001-01-14"
                  = glp.error :old_pass_issue_date

= simple_fields_for :service do |s|
  = s.hidden_field :active_guarantor_legal, value: params[:service] ? params[:service][:active_guarantor_legal] : 0