.documents
  = f.fields_for :documents do |d|
    %div{class:"field-horizontal#{' hidden' if !d.object.file?}"}
      .field.but
        %button.del{type:'button', title:"Удалить документ"} &times;
      .field
        %label Укажите тип файла
        = d.select :type_d ,
        [['ЕГРЮЛ','ЕГРЮЛ'],
        ["Паспорт представителя","Паспорт представителя"],
        ["Устав","Устав"], ["Свидетельство ОГРН","Свидетельство ОГРН"],
        ["Решение (приказ) о назначении Ген.дира","Решение (приказ) о назначении Ген.дира"],
        ['Ф1 (годовая за 13 год)',"Ф1 (годовая за 13 год"],
        ['Ф2 (годовая за 13 год)','Ф2 (годовая за 13 год'],
        ['Ф1 (квартальная)','Ф1 (квартальная)'],
        ['Ф2 (квартальная)','Ф2 (квартальная)']]
        = d.error :type_d
      .field.file-name
        = content_tag( :div, d.object.file.path.split('/').last, class:"file-name") if d.object.file?
        -#= link_to d.object.file.path.split('/').last, d.object.file.path
      .field.file
        = d.file_field :file
        = d.hidden_field :file_cache
        = d.hidden_field :_destroy, value: !d.object.file? ? 'true' : 'false'
        = d.error :file

= f.error :documents
%button.btn.btn-success{type:'button', id:"add-document"} Добавить документ