.documents
  = f.fields_for :documents do |d|
    %div{class:"field-horizontal#{' hidden' if !d.object.file?}"}
      .field.but
        %button.del{type:'button', title:"Удалить документ"} &times;
      .field
        %label Укажите тип файла
        = d.select :type_d ,
        [['ЕГРЮЛ','ЕГРЮЛ'],
        ["Паспорт представителя","Паспорт представителя"],
        ["Паспорта учредителей","Паспорта учредителей"],
        ["Устав организации","Устав организации"],
        ["Свидетельство ОГРН","Свидетельство ОГРН"],
        ["Решение (приказ) о назначении Руководителя","Решение (приказ) о назначении Руководителя"],
        ['Ф1 + Ф2 годовая за предыдущий год',"Ф1 + Ф2 годовая за предыдущий год"],
        ['Поквартальные Ф1 и Ф2 текущего года','Поквартальные Ф1 и Ф2 текущего года'],
        ['Декларация по ЕНВД (для ИП))','Декларация по ЕНВД (для ИП)']]
        = d.error :type_d
      .field.file-name
        = content_tag( :div, d.object.file.path.split('/').last, class:"file-name") if d.object.file?
        -#= link_to d.object.file.path.split('/').last, d.object.file.path
      .field.file
        = d.file_field :file
        = d.hidden_field :file_cache
        = d.hidden_field :_destroy, value: !d.object.file? ? 'true' : 'false'
        = d.error :file

= f.error :documents
%button.btn.btn-success{type:'button', id:"add-document"} Добавить документ