.documents
  = f.fields_for :documents do |d|
    %div{class:"field-horizontal#{' hidden' if !d.object.file?}"}
      .field.but
        %button.del{type:'button', title:"Удалить документ"} &times;
      .field
        %label Укажите тип файла
        = d.select :type_d ,
        [['ЕГРЮЛ','1'],
        ["Паспорт представителя","2"],
        ["Устав","3"], ["Свидетельство ОГРН","4"],
        ["Решение (приказ) о назначении Ген.дира","5"],
        ['Ф1 (годовая за 13 год)',"6"],
        ['Ф2 (годовая за 13 год)','7'],
        ['Ф1 (квартальная)','8'],
        ['Ф2 (квартальная)','9']]
        = d.error :type_d
      .field.file-name
        = content_tag( :div, d.object.file.path.split('/').last, class:"file-name") if d.object.file?
      .field.file
        = d.file_field :file
        = d.hidden_field :file_cache
        = d.hidden_field :_destroy, value: !d.object.file? ? 'true' : 'false'
        = d.error :file

= f.error :documents
%button.btn.btn-success{type:'button', id:"add-document"} Добавить документ