.to_ajax
  %a{data: {targetform:"get-client-form"}} Проверить клиента


%h1
  Contact
  %aside.ajax-form-block
    = form_tag "/uzel", remote:true do
      = hidden_field_tag :action, "get-client"
      = text_field_tag :inn, "7710948466"
      = text_field_tag :kpp, "771001001"
%div
  operations
  %span= @operations
%h3 Заявка
%pre.json-data
  = JSON.pretty_generate @order_data

%h3 Клиент
%pre.json-data
  = JSON.pretty_generate @client_data

