= render partial: 'shared/order_menu'
- @active_tab = params[:service] && params[:service][:edit_order_active_tab] ? params[:service][:edit_order_active_tab] : 'loan'
.order-form.edit
  %ul.nav.nav-tabs{id:"order-tabs"}
    - if @editkey.blank? && (current_user.is_admin? || current_user.is_agent? || current_user.is_client?)
      %li{class:"#{'active' if @active_tab == 'calc'}"}
        %a{href:"#calc", data:{toggle:"tab"}} Калькулятор
        %span.badge.fade
    %li{class:"#{'active' if @active_tab == 'loan'}"}
      %a{href:"#loan", data:{toggle:"tab"}} Займ
      %span.badge.fade
    %li{class:"#{'active' if @active_tab == 'borrower'}"}
      %a{href:"#borrower", data:{toggle:"tab"}} Заемщик
      %span.badge.fade
    %li{class:"#{'active' if @active_tab == 'guarantors'}"}
      %a{href:"#guarantors", data:{toggle:"tab"}} Поручители
      %span.badge.fade
    %li{class:"#{'active' if @active_tab == 'documents'}"}
      %a{href:"#documents", data:{toggle:"tab"}} Прикрепленные документы
      %span.badge.fade



  = simple_form_for @order, html:{multipart:true}, validation: true do |f|
    .tab-content{id:"tabs"}

      -# КАЛЬКУЛЯТОР #
      - if @editkey.blank? && (current_user.is_admin? || current_user.is_agent? || current_user.is_client?)
        .tab-pane.fade{id:"calc", class:"#{' in active' if @active_tab == 'calc'}", data:{type:"#{current_user.roles.first.name}"}}
          = render partial: 'shared/platform_tarif', locals: {f:f}
          = render partial: 'shared/calcs', locals:{f:f}


      -# ЗАЯВКА #
      .tab-pane.fade{id:"loan", class:"#{' in active' if @active_tab == 'loan'}"}
        .field-group
          .field
            %label Площадка
            = f.select(:platform, Tarif.uniq.pluck(:platform).map {|platform| [platform, platform, data:{number:platform}]})
          .field.hidden
            %label Тариф
            = f.input_field :tarif
            = f.error :tarif
          .field.hidden
            %label Ставка
            = f.input_field :base_rate
            = f.error :base_rate
          .field
            %label Сумма
            = f.input_field :summa
            = f.error :summa
          .field
            %label Крайний срок предоставления
            = f.date_field :submission_deadline
            = f.error :submission_deadline
          .field.hidden
            %label Агент
            = f.input_field :agent
            = f.error :agent
          .field.hidden
            %label АгентНаименование
            = f.input_field :agent_name
            = f.error :agent_name
          .field.hidden
            %label АгентВознаграждение
            = f.input_field :agent_summa
            = f.error :agent_summa
          .field.hidden
            %label МфоВознаграждение
            = f.input_field :mfo_summa
            = f.error :mfo_summa
          .field.hidden
            %label ДоговорВознаграждение
            = f.input_field :dogovor_summa
            = f.error :dogovor_summa
          .field.hidden
            %label Номер
            = f.input_field :number
            = f.error :number
          .field.hidden
            %label НомерМФО
            = f.input_field :number_mfo
            = f.error :number_mfo
          .field.hidden
            %label НомерДатаПротокола
            = f.input_field :number_data_protocol
            = f.error :number_data_protocol
          .field.hidden
            %label Лицевой счет
            = f.input_field :personal_number
            = f.error :personal_number
          .field.hidden
            %label Дата создания
            = f.date_field :create_date, value: f.object.create_date || Date.today
            = f.error :create_date
          .field.hidden
            %label Статус
            = f.input_field :status
            = f.error :status


      -# ОРГАНИЗАЦИЯ - ЗАЕМЩИК #

      .tab-pane.fade{id:"borrower", class:"#{' in active' if @active_tab == 'borrower'}"}
        = f.fields_for :borrower do |b|
          .field-group
            .field
              %label Укажите тип заемщика
              = b.select :type_o, [['Юридическое лицо', 'ЮЛ'] ,['Индивидуальный предприниматель', 'ФЛ']]

          .field-group
            .field-horizontal
              .field.inn
                %label ИНН
                = b.input_field :inn
                = b.error :inn
              .field{class:"kpp #{'hidden' if @order.borrower.type_o == 'ФЛ'}"}
                %label КПП
                = b.input_field :kpp
                = b.error :kpp
            .field.button-right
              .indicator.hidden{id:'borrower-indicator'}
              %button.btn.btn-primary.check{type:'button',data:{targetform:'check-borrower'}} Искать в базе

          .field-group
            %h5.title Основные данные
            .field.long
              %label Название организации
              = b.input_field :name
              = b.error :name
            .field.long
              %label Полное название организации
              = b.input_field :fullname
              = b.error :fullname
            .field-horizontal
              .field
                %label Дата регистрации
                = b.date_field :reg_date
                = b.error :reg_date
              .field
                %label ОГРН
                = b.input_field :ogrn
                = b.error :ogrn
            .field
              %label Должность руководителя
              = b.input_field :head_position
              = b.error :head_position

            .sub-group
              %h5.title Юридический адрес
              = b.fields_for :address_legal do |al|
                = render partial: 'shared/address', locals: {a:al}

            .sub-group
              %h5.title Фактический адрес
              = b.fields_for :address_actual do |aa|
                = render partial: 'shared/address', locals: {a:aa}


          .field-group.borrower-founders{class:"#{' hidden' if @order.borrower.type_o == 'ФЛ'}"}
            = render partial:'shared/founders', locals: {b:b}

          .field-group
            %h5.title Основной банковский счет

            = b.fields_for :bank_account do |ba|
              .field-horizontal
                .field
                  %label Номер счета
                  = ba.input_field :account_number
                  = ba.error :account_number

                = ba.fields_for :bank do |bank|
                  .field
                    %label Бик
                    = bank.input_field :bik
                    = bank.error :bik
                  .field-horizontal
                    .field
                      %label Коррсчет
                      = bank.input_field :korr_number
                      = bank.error :korr_number
                    .field
                      %label ИНН
                      = bank.input_field :inn
                      = bank.error :inn
                  .field-horizontal
                    .field
                      %label Наименование банка
                      = bank.input_field :name
                      = bank.error :name
                    .field
                      %label Город
                      = bank.input_field :city
                      = bank.error :city
                  .field.long
                    %label Адрес
                    = bank.input_field :address
                    = bank.error :address

          .field-group.personal-data{class:"#{' hidden' if @order.borrower.type_o == 'ФЛ'}"}
            %h5.title Персональные данные заемщика

            = b.fields_for :person do |p|
              .field-horizontal
                .field
                  %label ФИО
                  = p.input_field :fullname
                  = p.error :fullname
                .field
                  %label Дата рождения
                  = p.date_field :birthday
                  = p.error :birthday
              .field-horizontal
                .field
                  %label Место рождения
                  = p.input_field :birth_place
                  = p.error :birth_place
                .field
                  %label Гражданство
                  = p.input_field :citizenship, value:"РФ"
                  = p.error :citizenship
              .field-horizontal
                .field
                  %label Телефон
                  = p.input_field :phone
                  = p.error :phone
                .field
                  %label E-mail
                  = p.input_field :email
                  = p.error :email

              .sub-group
                %h5.title Место регистрации
                = p.fields_for :reg_place do |rp|
                  = render partial: 'shared/address', locals: {a:rp}

              .sub-group
                %h5.title Место пребывания
                = p.fields_for :curr_place do |cp|
                  = render partial: 'shared/address', locals: {a:cp}


              .sub-group
                %h5.title Паспортные данные

                .field
                  %label Серия и номер паспорта
                  = p.input_field :pass_serial_number
                  = p.error :pass_serial_number

                .field.long
                  %label Кем выдан
                  = p.input_field :pass_issued
                  = p.error :pass_issued
                .field-horizontal
                  .field
                    %label Код подразделения
                    = p.input_field :pass_issued_code
                    = p.error :pass_issued_code

                  .field
                    %label Дата выдачи
                    = p.date_field :pass_issue_date
                    = p.error :pass_issue_date



                .sub-group
                  %h5.title Данные о ранее выданных паспортах

                  .field
                    %label Серия и номер паспорта
                    = p.input_field :old_pass_serial_number
                    = p.error :old_pass_serial_number

                  .field.long
                    %label Кем выдан
                    = p.input_field :old_pass_issued
                    = p.error :old_pass_issued
                  .field-horizontal
                    .field
                      %label Код подразделения
                      = p.input_field :old_pass_issued_code
                      = p.error :old_pass_issued_code

                    .field
                      %label Дата выдачи
                      = p.date_field :old_pass_issue_date
                      = p.error :old_pass_issue_date

      -# ПОРУЧИТЕЛИ #

      .tab-pane.fade{id:"guarantors", class:"#{' in active' if @active_tab == 'guarantors'}"}
        = simple_fields_for :service do |s|
          .field.radio-group
            %label Выберите тип поручителя
            = s.collection_radio_buttons :guarantor_type, [['guarantor_individual', 'Физическое лицо'], ['guarantor_legal', 'Юридическое лицо']], :first, :last,
            checked: params[:service] ? params[:service][:guarantor_type] : 'guarantor_individual'

        -# ПОРУЧИТЕЛИ ФИЗИЧЕСКОЕ ЛИЦО #
        - @hidden = params[:service] ? params[:service][:guarantor_type] == 'guarantor_legal' : false

        .guarantor{class:"guarantor_individual #{'hidden' if @hidden}"}
          = render partial: 'shared/guarantor_individual_edit', locals: {f:f}

        -# ПОРУЧИТЕЛЬ ЮРИДИЧЕСКОЕ ЛИЦО #
        - @hidden = params[:service] ? params[:service][:guarantor_type] == 'guarantor_individual' : true

        .guarantor{class:"guarantor_legal #{ 'hidden' if @hidden}"}
          = render partial: 'shared/guarantor_legal_edit', locals:{f:f}


      .tab-pane.fade{ id:"documents", class:"#{' in active' if @active_tab == 'documents'}"}
        = render partial: 'shared/order_documents', locals:{f:f}


      .field-submit
        = simple_fields_for :service do |s|
          = s.hidden_field :send_mfo, value: false
          = s.hidden_field :edit_order_active_tab, value: params[:service] && params[:service][:edit_order_active_tab] ? params[:service][:edit_order_active_tab] : ""

        = submit_tag "Сохранить", class:'btn btn-primary'


%script
  window.tarifs =
  =raw @tarifs.to_json