- if @orders.any?
  %table.simple-list.orders
    %caption Заявки на редактировании
    %thead
      %tr
        %th Дата создания
        %th Дата обновления
        %th Платформа
        %th ИНН
        %th Сумма займа

        - unless current_user.is_client?
          %th Сумма договора
        - else
          %th Стоимость

        - unless current_user.is_client?
          %th Сумма МФО
          %th Сумма агента
        %th Статус
        - unless current_user.is_client?
          %th Ссылка для клиента

        %th &nbsp;
        %th &nbsp;
    %tbody
      - @orders.each do |order|
        %tr{class:"#{'in-mfo' if order.status == "Отправлено в МФО"}"}
          %td.date
            = order.created_at.to_formatted_s(:long)
          %td.date
            = order.updated_at.to_formatted_s(:long)
          %td
            = order.platform
          %td
            = order.borrower.inn
          %td
            = order.summa
          %td
            = order.dogovor_summa
          - unless current_user.is_client?
            %td
              = order.mfo_summa
            %td
              = order.agent_summa
          %td.status
            = order.status
          - unless current_user.is_client?
            %td
              = "#{request.protocol}#{request.host}#{orders_path}/#{order.id.to_s}/edit?#{order.editkey}"
          %td.edit
            - if order.status != "Отправлено в МФО"
              = link_to "Изменить", edit_order_path(order)
          %td.del
            = link_to "Удалить", order, method: :delete, data: {confirm: "Удалить заявку?"}
- else
  %h4 Нет заявок на заполнении


.fetch-orders-form.text-right
  = form_tag "/report", method: :post, id: "fetch-orders-form", remote:true do |f|
    .indicator{id:"report-indicator"} получаем заявки
    = hidden_field_tag 'shift[date_from]', "1970-01-01"
    = hidden_field_tag 'shift[date_to]', Date.today
    = hidden_field_tag :authenticity_token
    .field-horizontal.order-filter
      -#= submit_tag "Обновить список", class:'btn btn-success hidden'
      = select_tag "order-status", options_for_select(["на заполнении","оформление", "согласование","к выдаче", "выдан", "закрыт", "отклонена", "отказ клиента"]), prompt: "Отфильтруйте по статусу", class: 'hidden'
%table.fade.simple-list{id:"orders-list"}
  %caption Отправленные заявки
  %thead
    %tr
      %th
      %th Дата создания
      %th Дата выдачи
      %th Заемщик
      %th Сумма займа
      %th Сумма агента
      %th Статус
  %tbody

%script
  window.tarifs =
  =raw @tarifs.to_json