%table.simple-list
  %thead
    %tr
      %th Дата создания
      %th Дата обновления
      %th Сумма займа
      %th Сумма договора
      %th Сумма банка
      %th Сумма агента
      %th Платформа
      %th Статус
      %th Edit
  %tbody
    - @orders.each do |order|
      %tr{class:"#{'in-mfo' if order.status == "Отправлено в МФО"}"}
        %td.date
          = order.created_at.to_formatted_s(:long)
        %td.date
          = order.updated_at.to_formatted_s(:long)
        %td
          = order.summa
        %td
          = order.dogovor_summa
        %td
          = order.mfo_summa
        %td
          = order.agent_summa
        %td
          = order.platform
        %td
          = order.status
        %td.edit
          - if order.status != "Отправлено в МФО"
            = link_to "Изменить", edit_order_path(order)
%script
  window.tarifs =
  =raw @tarifs.to_json