
.new-order
  %ul.nav.nav-tabs{id:"order-tabs"}
    %li.active
      %a{href:"#calc", data:{toggle:"tab"}} Калькулятор
    %li
      %a{href:"#loan", data:{toggle:"tab"}} Займ
    %li
      %a{href:"#borrower", data:{toggle:"tab"}} Заемщик
    %li
      %a{href:"#guarantors", data:{toggle:"tab"}} Поручители
    %li
      %a{href:"#documents", data:{toggle:"tab"}} Прикрепленные документы



  = simple_form_for @order, html:{multipart:true}, validation: true do |f|
    .tab-content{id:"tabs"}

      -# КАЛЬКУЛЯТОР #
      .tab-pane.fade.active.in{id:"calc"}
        = f.fields_for :platform do |p|
          .field
            %label Площадка
            = p.select(:number, Platform.all.map {|platform| [platform.name, platform.id,data:{number:platform.number}]})

      -# ЗАЯВКА #

      .tab-pane.fade{id:"loan"}
        .field
          %label Электронная площадка
          = f.input_field :platform
          = f.error :platform
        .field
          %label Сумма
          = f.input_field :summa, value: 1700
          = f.error :summa
        .field
          %label Крайний срок предоставления
          = f.date_field :submission_deadline, value: "2015-03-11"
          = f.error :submission_deadline
        .field
          %label Агент
          = f.input_field :agent, value: "agent@mail.ru"
          = f.error :agent
        .field
          %label АгентНаименование
          = f.input_field :agent_name, value: "Юра-агент"
          = f.error :agent_name
        .field
          %label АгентВознаграждение
          = f.input_field :agent_summa, value: 100
          = f.error :agent_summa
        .field
          %label Номер
          = f.input_field :number, value:"235"
          = f.error :number
        .field
          %label НомерМФО
          = f.input_field :number_mfo, value:"235-mfo"
          = f.error :number_mfo
        .field
          %label НомерДатаПротокола
          = f.input_field :number_data_protocol, value:"235-data-protocol"
          = f.error :number_data_protocol
        .field
          %label Лицевой счет
          = f.input_field :personal_number, value:"13241234"
          = f.error :personal_number
        .field
          %label Дата создания
          = f.date_field :create_date, value:"2015-03-27"
          = f.error :create_date
        .field
          %label Статус
          = f.input_field :status, value:"На заполнении"
          = f.error :status


      -# ОРГАНИЗАЦИЯ - ЗАЕМЩИК #

      .tab-pane.fade{id:"borrower"}
        = f.fields_for :borrower do |b|
          .field.radio-group
            %label Укажите тип заемщика
            = b.select :type_o, [['Юридическое лицо', 'ЮЛ'] ,['Физическое лицо', 'ФЛ']]
          .field-horizontal
            .field.inn
              %label ИНН
              = b.input_field :inn, value:"13241234"
              = b.error :inn
            .field{class:"kpp #{'hidden' if @order.borrower.type_o == 'ФЛ'}"}
              %label КПП
              = b.input_field :kpp, value:"13241234"
              = b.error :kpp
          .field
            %label Название организации
            = b.input_field :name, value:"Строй-дом"
            = b.error :name
          .field
            %label Полное название организации
            = b.input_field :fullname, value:"Строй-дом компания"
            = b.error :fullname
          .field
            %label ОГРН
            = b.input_field :ogrn, value:"3242135235"
            = b.error :ogrn
          .field
            %label Юридический адрес
            = b.input_field :address_legal, value:"Москва 34/2"
            = b.error :address_legal
          .field
            %label Фактический адрес
            = b.input_field :address_actual, value:"Чебоксары 34/2"
            = b.error :address_actual
          .field
            %label Должность руководителя
            = b.input_field :head_position, value:"Генеральный деректор"
            = b.error :head_position
          .field
            %label Дата регистрации
            = b.date_field :reg_date, value:"2001-03-02"
            = b.error :reg_date
          .field-group
            %h5.title Учредитель
            = b.fields_for :founder do |bf|
              .field
                %label Имя учредитель
                = bf.input_field :name, value:"Смирнов Игорь Валерьевич"
                = bf.error :name
              .field
                %label Паспортные данные ОГРН
                = bf.input_field :pass_data_ogrn, value:"2345234-ogrn"
                = bf.error :pass_data_ogrn
              .field
                %label Доля в компании
                = bf.input_field :share, value:"100"
                = bf.error :share

          .field-group
            %h5.title Основной банковский счет

            = b.fields_for :bank_account do |ba|
              .field
                %label Номер счета
                = ba.input_field :account_number, value:"32235324542327242222"
                = ba.error :account_number

              = ba.fields_for :bank do |bank|
                .field
                  %label Бик
                  = bank.input_field :bik, value:"32235324542327242222"
                  = bank.error :bik
                .field
                  %label Коррсчет
                  = bank.input_field :korr_number, value:"32235324542327242222"
                  = bank.error :korr_number
                .field
                  %label ИНН
                  = bank.input_field :inn, value:"32235324542327242222"
                  = bank.error :inn
                .field
                  %label Наименование банка
                  = bank.input_field :name, value:"Банк-фагот"
                  = bank.error :name
                .field
                  %label Город
                  = bank.input_field :city, value:"Москва"
                  = bank.error :city
                .field
                  %label Адрес
                  = bank.input_field :address, value:"Москва ул.Дятлова 21/34"
                  = bank.error :address

          .field-group
            %h5.title Персональные данные заемщика

            = b.fields_for :person do |p|
              .field
                %label ФИО
                = p.input_field :fullname, value:"Мушкин Карен Федорович"
                = p.error :fullname
              .field
                %label Дата рождения
                = p.date_field :birthday, value:"1977-12-01"
                = p.error :birthday
              .field
                %label Место рождения
                = p.input_field :birth_place, value:"г.Уренгой"
                = p.error :birth_place
              .field
                %label Гражданство
                = p.input_field :citizenship, value:"РФ"
                = p.error :citizenship
              .field
                %label Телефон
                = p.input_field :phone, value:"23 67 44"
                = p.error :phone
              .field
                %label E-mail
                = p.input_field :email, value:"ader@mail.ru"
                = p.error :email
              .field
                %label Место регистрации
                = p.input_field :reg_place, value:"г. Уренгой ул. Пашутина 21"
                = p.error :reg_place
              .field
                %label Место пребывания
                = p.input_field :curr_place, value:"г. Уренгой ул. Пашутина 22"
                = p.error :curr_place


              .field-group
                %h5 Паспортные данные

                .field
                  %label Серия и номер паспорта
                  = p.input_field :pass_serial_number, value:"34 11 78954"
                  = p.error :pass_serial_number

                .field
                  %label Кем выдан
                  = p.input_field :pass_issued, value:"Калининский ОВД"
                  = p.error :pass_issued

                .field
                  %label Код подразделения
                  = p.input_field :pass_issued_code, value:"цк-1295"
                  = p.error :pass_issued_code

                .field
                  %label Дата выдачи
                  = p.date_field :pass_issue_date, value:"2006-11-23"
                  = p.error :pass_issue_date

                .field-group
                  %h5 Данные о ранее выданных паспортах

                  .field
                    %label Серия и номер паспорта
                    = p.input_field :old_pass_serial_number, value:"77 22 32789"
                    = p.error :old_pass_serial_number

                  .field
                    %label Кем выдан
                    = p.input_field :old_pass_issued, value:"Калининский ОВД"
                    = p.error :old_pass_issued

                  .field
                    %label Код подразделения
                    = p.input_field :old_pass_issued_code, value:"цк-1295"
                    = p.error :old_pass_issued_code

                  .field
                    %label Дата выдачи
                    = p.date_field :old_pass_issue_date, value:"2001-02-10"
                    = p.error :old_pass_issue_date

      -# ПОРУЧИТЕЛИ #

      .tab-pane.fade{id:"guarantors"}

        = simple_fields_for :service do |g|
          .field.radio-group
            %label Выберите тип поручителя
            = g.collection_radio_buttons :guarantor_type, [['guarantor_individual', 'Физическое лицо'], ['guarantor_legal', 'Юридическое лицо']], :first, :last,
            checked: params[:service] ? params[:service][:guarantor_type] : 'guarantor_individual'

        -# ПОРУЧИТЕЛЬ ФИЗИЧЕСКОЕ ЛИЦО #

        .guarantor{class:"guarantor_individual #{'hidden' if params[:service] && params[:service][:guarantor_type] == 'guarantor_legal'}"}
          %h4 Поручитель ФЛ
          = f.fields_for :guarantor_individual do |gi|
            .field
              %label ФИО
              = gi.input_field :fullname, value:"Жариков Семен Павлович"
              = gi.error :fullname
            .field
              %label Дата рождения
              = gi.date_field :birthday, value:"1969-11-23"
              = gi.error :birthday
            .field
              %label Место рождения
              = gi.input_field :birth_place, value:"г. Луки"
              = gi.error :birth_place
            .field
              %label Гражданство
              = gi.input_field :citizenship, value:"РФ"
              = gi.error :citizenship
            .field
              %label Телефон
              = gi.input_field :phone, value:"45 77 88"
              = gi.error :phone
            .field
              %label E-mail
              = gi.input_field :email, value:"asdf@mail.ru"
              = gi.error :email
            .field
              %label Место регистрации
              = gi.input_field :reg_place, value:"г.Луки ул. Пахотная 34-11"
              = gi.error :reg_place
            .field
              %label Место пребывания
              = gi.input_field :curr_place, value:"г.Луки ул. Пахотная 35-12"
              = gi.error :curr_place


            .field-group
              %h5 Паспортные данные

              .field
                %label Серия и номер паспорта
                = gi.input_field :pass_serial_number, value:"34 11 34589"
                = gi.error :pass_serial_number

              .field
                %label Кем выдан
                = gi.input_field :pass_issued, value:"Гороловским ОВД"
                = gi.error :pass_issued

              .field
                %label Код подразделения
                = gi.input_field :pass_issued_code, value:"ук-3400"
                = gi.error :pass_issued_code

              .field
                %label Дата выдачи
                = gi.date_field :pass_issue_date, value:"2003-04-11"
                = gi.error :pass_issue_date

            .field-group
              %h5 Данные о ранее выданных паспортах

              .field
                %label Серия и номер паспорта
                = gi.input_field :old_pass_serial_number, value:"22 77 542865"
                = gi.error :old_pass_serial_number

              .field
                %label Кем выдан
                = gi.input_field :old_pass_issued, value:"Гороловским ОВД"
                = gi.error :old_pass_issued

              .field
                %label Код подразделения
                = gi.input_field :old_pass_issued_code, value:"ук-3400"
                = gi.error :old_pass_issued_code

              .field
                %label Дата выдачи
                = gi.date_field :old_pass_issue_date, value:"2000-10-01"
                = gi.error :old_pass_issue_date

            -# ПОРУЧИТЕЛЬ ЮРИДИЧЕСКОЕ ЛИЦО #

        .guarantor{class:"guarantor_legal #{'hidden' if params[:service] && params[:service][:guarantor_type] == 'guarantor_individual'}"}
          %h4 Поручитель ЮЛ

          = f.fields_for :guarantor_legal do |gl|
            .field
              %label Тип организации поручителя
              = gl.input_field :type_o, value:"ЮЛ"
              = gl.error :type_o
            .field-horizontal
              .field.inn
                %label ИНН
                = gl.input_field :inn, value:"2277542865"
                = gl.error :inn
              .field.kpp
                %label КПП
                = gl.input_field :kpp, value:"4227752865"
                = gl.error :kpp
            .field
              %label Название организации
              = gl.input_field :name, value:"Силикон-патч"
              = gl.error :name
            .field
              %label Полное название организации
              = gl.input_field :fullname, value:"Силикон-патч уралочка"
              = gl.error :fullname
            .field
              %label ОГРН
              = gl.input_field :ogrn, value:"542353245"
              = gl.error :ogrn
            .field
              %label Юридический адрес
              = gl.input_field :address_legal, value:"г. Москва ул.Печорка 32"
              = gl.error :address_legal
            .field
              %label Фактический адрес
              = gl.input_field :address_actual, value:"г. Москва ул.Салютная 7"
              = gl.error :address_actual
            .field
              %label Должность руководителя
              = gl.input_field :head_position, value:"Генеральный деректор"
              = gl.error :head_position
            .field
              %label Дата регистрации
              = gl.date_field :reg_date, value:"1999-07-21"
              = gl.error :reg_date

            .field-group
              %h5 Основной банковский счет

              = gl.fields_for :bank_account do |glba|
                .field
                  %label Номер счета
                  = glba.input_field :account_number, value:"23452352452452"
                  = glba.error :account_number

                = glba.fields_for :bank do |glbab|
                  .field
                    %label Бик
                    = glbab.input_field :bik, value:"23452352452452"
                    = glbab.error :bik
                  .field
                    %label Коррсчет
                    = glbab.input_field :korr_number, value:"23452352452452"
                    = glbab.error :korr_number
                  .field
                    %label ИНН
                    = glbab.input_field :inn, value:"23452352452452"
                    = glbab.error :inn
                  .field
                    %label Наименование банка
                    = glbab.input_field :name, value:"Банк-гора"
                    = glbab.error :name
                  .field
                    %label Город
                    = glbab.input_field :city, value:"г. Рубище"
                    = glbab.error :city
                  .field
                    %label Адрес
                    = glbab.input_field :address, value:"г. Рубище ул. Станочная 9"
                    = glbab.error :address

            .field-group
              %h5 Персональные данные представителя поручителя

              = gl.fields_for :person do |glp|
                .field
                  %label ФИО
                  = glp.input_field :fullname, value:"Дудин Игорь Викторович"
                  = glp.error :fullname
                .field
                  %label Дата рождения
                  = glp.date_field :birthday, value:"1966-12-10"
                  = glp.error :birthday
                .field
                  %label Место рождения
                  = glp.input_field :birth_place, value:"г. Рубище ул. Станочная 9"
                  = glp.error :birth_place
                .field
                  %label Гражданство
                  = glp.input_field :citizenship, value:"РФ"
                  = glp.error :citizenship
                .field
                  %label Телефон
                  = glp.input_field :phone, value:"8 903 456 22 11"
                  = glp.error :phone
                .field
                  %label E-mail
                  = glp.input_field :email, value:"fgart@mail.ru"
                  = glp.error :email
                .field
                  %label Место регистрации
                  = glp.input_field :reg_place, value:"г. Рубище ул. Станочная 9"
                  = glp.error :reg_place
                .field
                  %label Место пребывания
                  = glp.input_field :curr_place, value:"г. Рубище ул. Станочная 9"
                  = glp.error :curr_place


                .field-group
                  %h5 Паспортные данные

                  .field
                    %label Серия и номер паспорта
                    = glp.input_field :pass_serial_number, value:"23534 43253"
                    = glp.error :pass_serial_number

                  .field
                    %label Кем выдан
                    = glp.input_field :pass_issued, value:"Дудинским ОВД"
                    = glp.error :pass_issued

                  .field
                    %label Код подразделения
                    = glp.input_field :pass_issued_code, value:"ф-2345"
                    = glp.error :_pass_issued_code

                  .field
                    %label Дата выдачи
                    = glp.date_field :pass_issue_date, value:"2003-01-14"
                    = glp.error :pass_issue_date

                .field-group
                  %h5 Данные о ранее выданных паспортах

                  .field
                    %label Серия и номер паспорта
                    = glp.input_field :old_pass_serial_number, value:"23534 43253"
                    = glp.error :old_pass_serial_number

                  .field
                    %label Кем выдан
                    = glp.input_field :old_pass_issued, value:"Дудинским ОВД"
                    = glp.error :old_pass_issued

                  .field
                    %label Код подразделения
                    = glp.input_field :old_pass_issued_code, value:"ф-2345"
                    = glp.error :old_pass_issued_code

                  .field
                    %label Дата выдачи
                    = glp.date_field :old_pass_issue_date, value:"2001-01-14"
                    = glp.error :old_pass_issue_date


      .tab-pane.fade{ id:"documents" }
        .documents
          = f.fields_for :documents do |d|
            %div{class:"field-horizontal#{' hidden' if !d.object.file?}"}
              .field
                %button.del{type:'button', title:"Удалить документ"} &times;
                -#= d.check_box :remove_file if d.object.file?
              .field
                %label Укажите тип файла
                = d.select :type_d , [["Паспорт представителя","2"],["Устав","3"], ["Свидетельство ОГРН","4"], ["Решение (приказ) о назначении Ген.дира","5"]]
                = d.error :type_d
              .field
                = content_tag( :div, d.object.file.filename, class:"file-name") if d.object.file?
              .field
                = d.file_field :file
                = d.hidden_field :file_cache
                = d.hidden_field :_destroy
                = d.error :file
        %button.btn.btn-success{type:'button', id:"add-document"} Добавить документ


      .field-submit
        = submit_tag "Отправить"