%footer
  .container
    .row
      .col-md-6
        %span= debug(params) if Rails.env.development?
      .col-md-6.text-right
        %span
          &copy; ООО «МФО Альянс»

%aside.ajax-form-block.hidden
  = form_tag "/uzel", data:{formtype:"check-borrower"}, remote:true do
    = hidden_field_tag :authenticity_token
    = hidden_field_tag :action, "get-client"
    = text_field_tag :inn, ""
    = text_field_tag :kpp, ""

%div.modal.fade.bs-example-modal-sm{id:"founder-message",tabindex:"-1",role:"dialog",aria:{labelledby:"mySmallModalLabel",hidden:"true"}}
  %div.modal-dialog.modal-sm
    %div.modal-content
      %div.modal-header
        %button.close{type:"button",data:{dismiss:"modal"},aria:{hidden:"true"}} &times;
        %h4.modal-title Сообщение
      %div.modal-body
        Должен быть хотя бы один учредитель!