%header
  .container
    %a.logo{href:orders_path}
      %img{src:image_url('logo.png')}
    %nav.main-menu
      %ul
        - if signed_in? && current_user && current_user.is_admin?
          %li= link_to "Отчеты", reports_path, :class =>is_active?('reports/index')
          %li= link_to "Все заявки", orders_path, :class =>is_active?('orders/index')
          %li= link_to "Новая заявка", new_order_path, :class => is_active?('orders/new')
          %li= link_to "Пользователи", users_path, :class => is_active?('users/index')
        - if signed_in?
          %li= link_to "Выход", signout_path, method: "delete"
        - else
          %li= link_to "Вход", signin_path

    %h1.page-title= @title;

