!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Mfo
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .page-wrap
      = render 'layouts/header'
      %main
        .container
          - flash.each do |key, value|
            %div{class:"alert alert-#{key}"}= value.html_safe

          = yield
    = render 'layouts/footer'
    -#- if signed_in?
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"
    %script
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.cfg.no$ = true
      webshims.polyfill('forms forms-ext');
